/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

@font-face {
  font-family: quango;
  src: url(../webfonts/Quango.otf);
}

@font-face {
  font-family: stamp;
  src: url(../webfonts/Rubberstamp.otf);
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: stamp;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgb(40, 40, 40);
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-blackstlyed-transparent {
  background-image: url("../img/black_bg1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tm-bg-purple-transparent {
  background-image: url("../img/smoke.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

.navbar button {
  float: right;
}

h1 {
  text-shadow: 2px 2px 4px #222;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 4.2rem;
  font-family: quango;
  text-shadow: 2px 2px 5px black;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background-position-x: 75%;
  background-position-y: 75%;
}

#tmArt {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
  color: white;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: rgb(87, 20, 78, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tm-welcome-right img {
  display: flex;
  margin: auto;
  padding-top: 1rem;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.v_player {
  width: 560px;
  height: 315px;
}

#spacer {
  height: 10rem;
}

/*
  Bio section
*/

#tmBio {
  height: 35rem;
  background-image: url("../img/panamacity.jpg");
  background-size: cover;
  background-attachment: relative;
  background-position-x: 50%;
  background-position-y: 35%;
  border-top: 2rem double white;
  border-bottom: 2rem double white;
  max-width: 75vw;
  max-height: 50vw;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.3rem;
}

h2 {
  color: #999;
  text-shadow: 2px 2px 4px #222;
}

p {
  line-height: 1.8;
  color: #999;
}

#sponsor {
  background-image: url(../img/panama_flag_rustic.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

#sponsor img {
  max-width: 20vw;
  margin: auto;
  padding: 1rem;
}

/*
  Contact section
*/
.locationInfo {
  margin: 1.5rem;
}

.storeLogo {
  margin-bottom: 1rem;
}

#tmArt {
  padding-top: 95px;
}

.tm-contact-item {
  width: 33.3334%;
  max-width: 345px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: white;
  padding: 54px 34px 44px;
}

.tm-contact-item:last-child {
  margin-right: 0;
}

.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.tm-contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmContactForm {
  width: 100%;
  max-width: 680px;
  margin: 2rem 0rem;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #676767;
}

.tm-copyright-text {
  margin-bottom: 30px;
}

.tm-link {
  color: #676767;
}

.medialinks {
  display: flex;
  justify-content: center;
}

.medialinks i {
  padding: 0rem 1rem;
  font-size: 3rem;
  opacity: 0.5;
  color: #ccc;
  text-decoration: none;
}

.feed {
  background-color: rgba(53, 53, 53, 0.5);
  margin-bottom: 1rem;
  padding: 2rem;
}

.footer {
  background-color: rgb(87, 20, 78, 0.75);
  padding: 1rem;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-top: 1rem;
}

/*****************************************Media Queries***********************************/
@media (max-width: 1054px) {
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
  #consultation {
    padding: 1rem;
    margin: 1rem;
    width: 99vw;
  }
}

/*  991 */
@media (max-width: 991px) {
  .tm-welcome-right img {
    max-width: 300px;
  }

  .tm-welcome-left {
    padding: 0rem 1.5rem;
  }

  .tm-brand-container-inner {
    max-width: 25rem;
  }

  .tm-brand-container {
    padding: 2rem 0rem;
  }

  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #tmContactForm {
    margin-left: auto;
    margin-right: auto;
  }

  .v_player {
    width: 350px;
    height: 200px;
  }

  h2 {
    font-size: 2.5vh;
    text-align: center;
  }
}

/* 766 */
@media (max-width: 766px) {
  body {
    background-color: #222;
    overflow-x: hidden;
  }

  .tm-welcome-container {
    bottom: -15rem;
  }

  .tm-brand-container {
    padding: 0rem 3rem 0rem 0rem;
    margin-top: 10rem;
  }

  .contact {
    color: #222;
  }

  .storeLogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
  }

  h1 {
    color: whitesmoke;
    text-shadow: #333;
  }

  h2 {
    font-size: 5vh;
  }

  /* #sponsor img {
    max-width: 60vw;
    margin-left: 25%;
  } */
}

/* 572 */
@media (max-width: 572px) {
  .tm-brand-description {
    font-size: 1rem;
  }

  .tm-brand-container-inner {
    max-width: 18rem;
  }

  .tm-brand-container {
    padding: 1rem;
  }

  .tm-brand-name {
    font-size: 3.5rem;
  }

  .tm-brand-description {
    color: whitesmoke;
  }

  #tmBio {
    margin-top: 16rem;
  }

  .storeLogo img {
    width: 80vw;
  }

  h2 {
    font-size: 3vh;
  }
}

/* 443 */
@media (max-width: 443px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 0rem;
    margin: 0;
  }

  .tm-brand-container-inner {
    max-width: 16rem;
  }

  #tmPortfolio {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 95%;
    height: 20rem;
  }

  .v_player {
    width: 300px;
    height: 170px;
  }

  .contact {
    color: black;
  }

  .medialinks i {
    font-size: 2rem;
    padding: 5px;
  }

  h2 {
    font-size: 2vh;
  }

  #sponsor img {
    max-width: 95vw;
    /* margin-left: 15%; */
  }
}
